// Color Define
$yellow: #FFDD2C;
$orange: #FFAA43;
$red: #C82333;
$secondary: #FF5F45;

span.orange {
  color: $orange
}

body {
  font-family: 'Work Sans', sans-serif;
  -webkit-font-smoothing: subpixel-antialiased;
  font-feature-settings: 'case' 1, 'cpsp' 1, 'dlig' 1, 'cv01' 1, 'cv02',
    'cv03' 1, 'cv04' 1;
  font-variation-settings: 'wght' 400;
  font-variant: common-ligatures contextual;
  letter-spacing: -0.02em;
}
b,
strong,
h3,
h4,
h5,
h6 {
  font-variation-settings: 'wght' 600;
}
h1 {
  font-variation-settings: 'wght' 700;
}
h2 {
  font-variation-settings: 'wght' 600;
}

p {
  font-size: 12pt;
}

a.post-item-title {
  font-size: 18pt;
}

a.nav-link,
a.post-item-more {
  text-decoration: none;
}

a.nav-link:hover {
  color: $orange;
}

a.post-item-more:hover {
  text-decoration: line-through;
  color: $orange;
}

@media screen and (min-device-pixel-ratio: 1.5),
  screen and (min-resolution: 1.5dppx) {
  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

details summary {
  cursor: pointer;
}

img.next-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.prose a {
  color: $orange;
}

.nav-line .nav-link {
  color: #69778c;
}

.iframe-container{
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; 
  height: 0;
}
.iframe-container iframe{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}
